---
layout: layouts/default.njk
title: 404 Not Found
description:
permalink: 404.html
bodyClass: page-error
eleventyExcludeFromCollections: false
---

<p>The requested file was not found on this server.</p>
<p><a href="/wedding/">トップページ</a>から再度アクセスをお願いします。</p>

<footer class="footer">
  <div class="footer__inner">
    <p class="footer__copyright"><small>© {{ page.date | formatDate('YYYY') }} Tatsufumi Sato All Right Reserved.</small></p>
  </div>
</footer>