---
layout: layouts/default.njk
title: ご回答ありがとうございます。
description:
permalink: thanks/index.html
bodyClass: page-top
# date: 2021-09-25
---

<body>
<div>

<main class="top">

    <div class="formWrap thanks">
        <div class="event" >
                                        <div class="event__date thanks__title">ご回答ありがとうございます。</div>
                <div class="event_text thanks__text">
                    お問い合わせがある方は、<br>佐藤樹史、大熊二葉まで<br>直接ご連絡ください。
                                    </div>
                                                    <div class="event_text thanks__text">
<p><a class="thanks__link" href="https://tatsufumi.github.io/wedding/">トップページに戻る</a></p>
                                    </div>
                    </div>
    </div>
</main>
</div>

<!--パートナー専用テンプレートのjs読み込み-->
<script>
    AOS.init();
</script>
</body>